<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi porro neque magnam aliquid aut, earum quibusdam voluptas exercitationem amet quos, obcaecati ipsam maiores numquam excepturi provident tempora inventore. Nemo debitis blanditiis odit libero, deserunt magni recusandae cupiditate aliquam aliquid tempore!</p>
    </div>
</div>