<div class="jumbotron mt-4">
    <h1 class="dispalay-4">Notas app Nodejs y Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo debitis facere omnis minus vitae, molestias nemo illum, voluptate dicta, rerum animi. Sed voluptate maiores ducimus corporis ea laudantium quos dolorum.</p>
    <a href="https://github.com/DonisW/Login_node" class="btn btn-primary btn-lg">Repositorio</a>
</div>